##---
## 🤖 This file has been generated automatically through Ansible and **should not be edited by hand**.
## See the [original script](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/security-firewall/tasks/main.yml)
## & [original template file](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/security-firewall/templates/restore.service.j2).
## *Generated (yyyy-mm-dd) {{ currentDateTime }}*.
##---

### Restore iptables config on restart
# Config file based on nikjj's
#   https://github.com/nickjj/ansible-iptables/blob/master/files/etc/systemd/system/iptables-restore.service

[Unit]
Description=Restore iptables rules
Before=network-pre.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/sbin/iptables-restore /var/lib/iptables/rules-save

[Install]
WantedBy=basic.target