### iptables config file
# Config file based on nikjj's
#   https://github.com/nickjj/ansible-iptables
#
# Raw iptables config file example
#   https://help.ubuntu.com/lts/serverguide/firewall.html
#
# iptables options
#   https://help.ubuntu.com/community/IptablesHowTo?action=show&redirect=Iptables
#
# iptables configuration based on Grafikart's
#   https://www.grafikart.fr/tutoriels/iptables-694

# Rather than make a big convoluted mess by trying to parse an iptables config
# file, you can just supply a raw config file.
#
# The default set up will lock down your server, and then open up:
# port 22 (SSH) and allow pings from the outside world.
*filter

# --- Disallow everything as the default filter policy.
# On refuse toutes les connexions
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0] 

# --- Allow unrestricted traffic on a few local network adapters.
# On autorise les connexions déjà établie
# -A INPUT -i lo -j ACCEPT
# -A INPUT -i eth1 -j ACCEPT
-A INPUT  -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A OUTPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# On autorise le loop-back (localhost)
-A INPUT -i lo -j ACCEPT
-A OUTPUT -o lo -j ACCEPT

# --- Allow the outside world to send all ICMP requests (ping, etc.).
# Autoriser l'ensemble des pings
#   https://www.frozentux.net/iptables-tutorial/chunkyhtml/a6339.html
-A INPUT -p icmp -m icmp --icmp-type 255 -j ACCEPT

# --- Allow the outside world to connect to SSH (22).
# -A INPUT -p tcp -m tcp --dport 22 -j ACCEPT
# -A INPUT -p tcp --dport 22 -j ACCEPT

# Allow SSH only on custom port ({{ custom_ssh_port }})
# cf. /ansible/vars/main.yml
-A INPUT -p tcp --dport {{ custom_ssh_port }} -j ACCEPT
-A OUTPUT -p tcp --dport {{ custom_ssh_port }} -j ACCEPT

# Si on a un serveur DNS
# -A OUTPUT -p tcp --dport 53 -j ACCEPT
# -A OUTPUT -p udp --dport 53 -j ACCEPT
# -A INPUT -p tcp --dport 53 -j ACCEPT
# -A INPUT -p udp --dport 53 -j ACCEPT

# NTP (pour avoir un serveur à l'heure)
-A OUTPUT -p udp --dport 123 -j ACCEPT

# HTTP
-A INPUT -p tcp --dport 80 -j ACCEPT
-A OUTPUT -p tcp --dport 80 -j ACCEPT

# HTTPS
-A INPUT -p tcp --dport 443 -j ACCEPT
-A OUTPUT -p tcp --dport 443 -j ACCEPT

# HTTPS Tomcat
-A INPUT -p tcp --dport 8443 -j ACCEPT

# FTP
-A INPUT -p tcp --dport 20 -j ACCEPT
-A OUTPUT -p tcp --dport 20 -j ACCEPT

-A INPUT -p tcp --dport 21 -j ACCEPT
-A OUTPUT -p tcp --dport 21 -j ACCEPT

-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# MAIL
## SMTP
-A INPUT -p tcp --dport 25 -j ACCEPT
-A OUTPUT -p tcp --dport 25 -j ACCEPT

## POP3
-A INPUT -p tcp --dport 110 -j ACCEPT
-A OUTPUT -p tcp --dport 110 -j ACCEPT

## IMAP
-A INPUT -p tcp --dport 143 -j ACCEPT
-A OUTPUT -p tcp --dport 143 -j ACCEPT

## POP3S
-A INPUT -p tcp --dport 995 -j ACCEPT
-A OUTPUT -p tcp --dport 995 -j ACCEPT  

# Autoriser le monitoring OVH (RTM)
#   https://docs.ovh.com/fr/dedicated/monitoring-ip-ovh/
# Tous les pings deja autorises (icmp)
# La communication entre le service RTM et votre serveur nécessite également que vous autorisiez les connexions entrantes et sortantes sur les ports UDP 6100 à 6200
-A INPUT -p udp --dport 6100:6200 -j ACCEPT
-A OUTPUT -p udp --dport 6100:6200 -j ACCEPT

# Activation des logs
-A INPUT -j LOG --log-prefix "[netfilter] "
-A FORWARD -j LOG --log-prefix "[netfilter] "

COMMIT
