# Chroot prison root folder

---

> 🤖 This file has been generated automatically through Ansible and **should not be edited by hand**.
> See the [original script](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/users/tasks/setup-chroot-prison.yml)
> & [original template file](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/users/templates/chroot-prison-root-README.md.j2).
> *Generated (yyyy-mm-dd) {{ currentDateTime }}*.

---

This folder is dedicated to allow users to sftp connect without accesssing the rest of the server.

Each website gets it's own stfp user & folder.

More infos here:

- [Original tests & step by step](https://github.com/youpiwaza/server-related-tutorials/tree/master/04-user-restrict-and-sftp)
- [Setup a sftp user](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/users/)
- [Folder tree](https://github.com/youpiwaza/ansible-install-web-server/blob/master/nomenclature-and-folder-tree.md)
