{
  "default-ulimits": {
		"nofile": {
      "Name": "nofile",
      "Hard": {{ dockerConfig.default_ulimits.nofile.hard }},
      "Soft": {{ dockerConfig.default_ulimits.nofile.soft }}
    },
    "nproc" : {
      "Name": "nproc",
      "Hard": {{ dockerConfig.default_ulimits.nproc.hard }},
      "Soft": {{ dockerConfig.default_ulimits.nproc.soft }}
    }
	},
  "icc": false,
  "live-restore": true,
  "log-driver": "syslog",
  "log-level": "info",
  "no-new-privileges": true,
  "userland-proxy": false,
  "userns-remap": "{{ users.3.name }}:{{ users.3.name }}"
}