---
##---
## 🤖 This file has been generated automatically through Ansible and **should not be edited by hand**.
## See the [original script](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/stack-web-nginx--generate-playbooks/tasks/main.yml)
## & [original template file](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/stack-web-nginx--generate-playbooks/templates/nginx-playbook-start.yml.j2).
## *Generated (yyyy-mm-dd) {{ currentDateTime }}*.
##---

### Setup a Nginx stack: generate or update .yml files, upload them and deploy stack
## the_builder_guy & the_docker_guy
# > ansible-playbook -i hostsWithCustomSSHPort {{ constants.FILE_PREFIX }}{{ project.dashed_domain }}---nginx---nginx-stack--start--generated.yml

# This role have been generated through ansible/10-forge-a-nginx.yml
#   🔧 Variables should be properly sourced by your file, created previously:
#   '{{ project.vars_file_path }}'

# TODO: Replace by real nginx
# Based on tutum/helloworld image
#   https://hub.docker.com/r/tutum/hello-world/

# You'll need the_builder_guy to have it's ssh key added to the local agent, cf. the_builder_guy generated documentation
# You'll need the_docker_guy to have it's ssh key added to the local agent, cf. the_docker_guy generated documentation

## the_builder_guy
- name: 'Generate or update a Nginx stack'
  become: yes
  hosts: likorneWithCustomSSHPort
  # the_builder_guy / cf. /ansible/roles/users/vars/main.yml
  remote_user: '{REMOVE-ME-TO-PRESERVE-VARS{ users.0.name }}'
  vars:
    currentDateTime: "{REMOVE-ME-TO-PRESERVE-VARS{ ansible_date_time.date }}--{REMOVE-ME-TO-PRESERVE-VARS{ ansible_date_time.hour }}h{REMOVE-ME-TO-PRESERVE-VARS{ ansible_date_time.minute }}m{REMOVE-ME-TO-PRESERVE-VARS{ ansible_date_time.second }}s"
  vars_files:
  - defaults/main.yml
  - roles/users/defaults/main.yml
  - roles/users/vars/main.yml
  - vars/main.yml
  # 🔧 project.vars_file_path
  - {{ project.vars_file_path }}

  roles:
    - stack-web-nginx--generate-stack

## the_docker_guy
- name: 'Setup networks & volumes then deploy or update Nginx stack'
  become: no
  hosts: likorneWithCustomSSHPort

  # the_docker_guy / cf. /ansible/roles/users/vars/main.yml
  remote_user: '{REMOVE-ME-TO-PRESERVE-VARS{ users.2.name }}'
  vars_files:
  - defaults/main.yml
  - roles/users/defaults/main.yml
  - roles/users/vars/main.yml
  - vars/main.yml
  # 🔧 project.vars_file_path
  - {{ project.vars_file_path }}

  roles:
    - stack-web-nginx--deploy
...