# {{ ansible_managed }}
# https://chrony.tuxfamily.org/doc/3.4/chrony.conf.html
# https://github.com/influxdata/ansible-chrony

# Welcome to the chrony configuration file. See chrony.conf(5) for more
# information about usuable directives.

# acquisitionport 1123
# port 123

# This will use (up to):
# - 4 sources from ntp.ubuntu.com which some are ipv6 enabled
# - 2 sources from 2.ubuntu.pool.ntp.org which are ipv6 enabled as well
# - 1 source from [01].ubuntu.pool.ntp.org each (ipv4 only atm)
# This means by default, up to 6 dual-stack and up to 2 additionnal IPv4-only
# sources will be used.
# At the same time it retains some protection against one of the entries being
# down (compare to just using one of the lines). See (LP: #1754358) for the
# discussion.
#
# About using servers from the NTP Pool Project in general see (LP: #104525).
# Approved by Ubuntu Technical Board on 2011-02-08.
# See http://www.pool.ntp.org/join.html for more information.

# pool ntp.ubuntu.com        iburst maxsources 4
{% for server in utils_time__clock_ntpd_servers %}
pool {{ server }} iburst
{% endfor %}

################################## TODO: Add europe pools here

# This directive specify the location of the file containing ID/key pairs for
# NTP authentication

keyfile /etc/chrony/chrony.keys

# This directive specify the file into which chronyd will store the rate
# information.

driftfile /var/lib/chrony/chrony.drift

# Turn logging on

log tracking measurements statistics

# Log file location

logdir /var/log/chrony

# Stop bad estimates upsetting machine clock.

maxupdateskew 100.0

# Dump on exit

dumponexit

# Specify directory for dumping measurements.

dumpdir /var/lib/chrony

# This directive forces `chronyd' to send a message to syslog if it
# makes a system clock adjustment larger than a threshold value in seconds.

logchange 0.5

# This directive defines an email address to which mail should be sent
# if chronyd applies a correction exceeding a particular threshold to the
# system clock.

# TODO: Fix
# Fatal error : mailonchange directive cannot be used with -F enabled
# mailonchange {{ global__admin_email }} 0.5

# This directive tells 'chronyd' to parse the 'adjtime' file to find out if the
# real-time clock keeps local time or UTC. It overrides the 'rtconutc' directive.

hwclockfile /etc/adjtime

# This directive enables kernel synchronisation (every 11 minutes) of the
# real-time clock. Note that it can’t be used along with the 'rtcfile' directive.

rtcsync

# Step the system clock instead of slewing it if the adjustement is larger than
# one second, but only if the first three clock updates
makestep 1 3
