# Manual commands to execute in order to complete SSH connexion

```bash
# (Once per terminal) Start the local ssh-agent
> eval `ssh-agent`

# (Once per terminal) Add private key to local ssh-agent
> ssh-add ~/.ssh/{{ my_remote_user }}-ssh-key-ed25519
> (pass phrase)

# (Optionnal) Verify key has been added to local ssh agent
> ssh-add -l

# (Once per server installation) Add public key to server
> ssh-copy-id -i ~/.ssh/{{ my_remote_user }}-ssh-key-ed25519 {{ my_remote_user }}@{{ my_ssh_remote_host }}
> (remote_user_password)

# Try connecting with
> ssh {{ my_remote_user }}@{{ my_ssh_remote_host }}

## If custom SSH port has already been set
> ssh {{ my_remote_user }}@{{ my_ssh_remote_host }} -p {{ custom_ssh_port }}
```
