---
##---
## 🤖 This file has been generated automatically through Ansible and **should not be edited by hand**.
## See the [original script](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/stack-web-wordpress--generate-playbooks/tasks/main.yml)
## & [original template file](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/stack-web-wordpress--generate-playbooks/templates/wordpress-playbook-start.yml.j2).
## *Generated (yyyy-mm-dd) {{ currentDateTime }}*.
##---

### Setup a WordPress stack: generate or update .yml files, upload them and deploy stack
## builder_guy & docker_guy
# > ansible-playbook -i hostsWithCustomSSHPort 200---{{ project.dashed_domain }}---wordpress-stack--start--generated.yml

# This role have been generated through ansible/20-forge-a-wordpress.yml
#   Variables should be properly sourced by your file, created previously:
#   '{{ project.vars_file_path }}'

# Based on bitnami's WordPress & MariaDB images
#   https://hub.docker.com/r/bitnami/wordpress/
#   https://hub.docker.com/r/bitnami/mariadb/

# You'll need the_builder_guy to have it's ssh key added to the local agent, cf. the_builder_guy generated documentation
# You'll need the_docker_guy to have it's ssh key added to the local agent, cf. the_docker_guy generated documentation

## builder_guy
- name: 'Generate or update a WordPress stack'
  become: yes
  hosts: likorneWithCustomSSHPort
  # builder_guy / cf. /ansible/roles/users/vars/main.yml
  remote_user: '{REMOVE-ME-TO-PRESERVE-VARS{ users.0.name }}'
  vars:
    currentDateTime: "{REMOVE-ME-TO-PRESERVE-VARS{ ansible_date_time.date }}--{REMOVE-ME-TO-PRESERVE-VARS{ ansible_date_time.hour }}h{REMOVE-ME-TO-PRESERVE-VARS{ ansible_date_time.minute }}m{REMOVE-ME-TO-PRESERVE-VARS{ ansible_date_time.second }}s"
  vars_files:
  - defaults/main.yml
  - roles/users/defaults/main.yml
  - roles/users/vars/main.yml
  - vars/main.yml
    # 🔧 project.vars_file_path
  - {{ project.vars_file_path }}

  roles:
    - stack-web-wordpress--generate-stack

## docker_guy
- name: 'Setup networks & volumes then deploy or update WordPress stack'
  become: no
  hosts: likorneWithCustomSSHPort
  # docker_guy / cf. /ansible/roles/users/vars/main.yml
  remote_user: '{REMOVE-ME-TO-PRESERVE-VARS{ users.2.name }}'
  vars_files:
  - defaults/main.yml
  - roles/users/defaults/main.yml
  - roles/users/vars/main.yml
  - vars/main.yml
    # 🔧 project.vars_file_path
  - {{ project.vars_file_path }}

  roles:
    - stack-web-wordpress--deploy
...