---
### Crafts and tests
## Prevents me from commenting/uncommenting/forgetting on final production files ^^'

# ---
# Currently working on: Playbook 4 / Init core services / Set up reverse proxy Traefik & hello world test
# ---

# You'll need the_builder_guy to have it's ssh key added to the local agent, cf. the_builder_guy generated documentation
# You'll need the_docker_guy  to have it's ssh key added to the local agent, cf. the_docker_guy  generated documentation

###

# TODO: Install hellos
# TODO: Start hellos
# TODO: Test & remove hellos
...