---
### Crafts and tests
## Prevents me from commenting/uncommenting/forgetting on final production files ^^'

# ---
# Currently working on: Playbook 4 / Init core services / Set up reverse proxy Traefik & hello world test
# ---

# You'll need the_builder_guy to have it's ssh key added to the local agent, cf. the_builder_guy generated documentation
# You'll need the_docker_guy  to have it's ssh key added to the local agent, cf. the_docker_guy  generated documentation

# ---

### TODO
## Local
# Manage required vars
# Manage generated vars
# Generate a local README.md file w. vars
# Make a wordpress-stack.yml.j2 template file
# Generate a local wordpress-stack.yml file using vars

## Builder guy
# Upload wordpress-stack.yml to host

## Docker guy
# Start stack

# ---

### Setup a WordPress stack

# You'll need the_builder_guy to have it's ssh key added to the local agent, cf. the_builder_guy generated documentation
# You'll need the_docker_guy  to have it's ssh key added to the local agent, cf. the_docker_guy  generated documentation
...