# Identifiants pour le site {{ traefik.public_uri }}

Généré automatiquement via ansible, cf. [github repo](https://github.com/youpiwaza/ansible-install-web-server/tree/master/ansible/roles/stack-web-wordpress--generate).

## Project

| Variable | Value | Notes |
|-|-|-|
| client_name | {{ project.client_name }} |  |
| labels_prefix | {{ project.labels_prefix }} | Docker recommanded notation: `extension.site.subdomain(.SOME-LABEL)`, cf. [docker doc](https://docs.docker.com/config/labels-custom-metadata/#key-format-recommendations) |
| maintainer | {{ project.maintainer }} |  |
| name | {{ project.name }} |  |
| type | {{ project.type }} |  |

## Traefik

| Variable | Value | Notes |
|-|-|-|
| public_uri | {{ traefik.public_uri }} | Ensure DNS are set accordingly to point towards host IP. This will point towards 'https://{{ traefik.public_uri }}/' |
| uid | {{ traefik.uid }} | For router & middleware names generation. Recommanded notation: `subDomain__domain__ext` |

## Database

| Variable | Value | Notes |
|-|-|-|
| image | {{ database.image }} |  |
| MARIADB_DATABASE | {{ database.MARIADB_DATABASE }} |  |
| MARIADB_PASSWORD | {{ database.MARIADB_PASSWORD }} |  |
| MARIADB_USER | {{ database.MARIADB_USER }} |  |
| MARIADB_ROOT_PASSWORD | {{ database.MARIADB_ROOT_PASSWORD }} |  |
| MARIADB_ROOT_USER | {{ database.MARIADB_ROOT_USER }} |  |

## Wordpress

| Variable | Value | Notes |
|-|-|-|
| image | {{ wordpress.image }} |  |
| WORDPRESS_TABLE_PREFIX | {{ wordpress.WORDPRESS_TABLE_PREFIX }} |  |
| WORDPRESS_BLOG_NAME | {{ wordpress.WORDPRESS_BLOG_NAME }} |  |
| WORDPRESS_EMAIL | {{ wordpress.WORDPRESS_EMAIL }} |  |
| WORDPRESS_FIRST_NAME | {{ wordpress.WORDPRESS_FIRST_NAME }} |  |
| WORDPRESS_FIRST_NAME | {{ wordpress.WORDPRESS_LAST_NAME }} |  |
| WORDPRESS_USERNAME | {{ wordpress.WORDPRESS_USERNAME }} | 50 chars length / NO SPECIAL CHARS, tends to not match when container is up |
| WORDPRESS_PASSWORD | {{ wordpress.WORDPRESS_PASSWORD }} | 50 chars length / Wordpress recommandations : `! ? % ^ & ) /`, No no `$ ' "` |
