version: '3.7'

##---
## 🤖 This file has been generated automatically through Ansible and **should not be edited by hand**.
## See the [original script](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/stack-web-wordpress--generate-stack/tasks/generate-yml.yml)
## & [original template file](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/stack-web-wordpress--generate-stack/templates/wordpress.yml.j2).
## *Generated (yyyy-mm-dd) {{ currentDateTime }}*.
##---

# Based on bitnami's images
#   https://hub.docker.com/r/bitnami/wordpress
#   https://hub.docker.com/r/bitnami/mariadb
# & original wordpress & mariadb
#   https://wordpress.com/
#   https://mariadb.org/

# Based on https://github.com/youpiwaza/server-related-tutorials/tree/master/01-docker/04-my-tests/10-wordpress/08-manual-steps/wordpress-stack.yml

services:
  mariadb:
    # cap_drop:
    #   - ALL
    # cpu_shares: 1024
    deploy:
      endpoint_mode: vip
      labels:
        - "{{ project.labels_prefix }}.client='{{ project.client_name }}'"
        - "{{ project.labels_prefix }}.maintainer='{{ project.maintainer }}'"
        - "{{ project.labels_prefix }}.project='{{ project.name }} / mariadb'"
        - "{{ project.labels_prefix }}.type='{{ project.type }}'"
      mode: replicated
      # Possibility to implement replicas : https://hub.docker.com/r/bitnami/mariadb/ > Setting up a replication cluster
      replicas: 1
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 5
        window: 120s
      rollback_config:
        delay: 0s
        failure_action: pause
        max_failure_ratio: 0
        monitor: 0s
        order: stop-first
        parallelism: 1
      update_config:
        delay: 10s
        failure_action: pause
        max_failure_ratio: 0
        monitor: 0s
        order: stop-first
        parallelism: 1
    environment:
      ALLOW_EMPTY_PASSWORD: 'no'

      # Allow more logs about bitnami's containers errors (use w. docker-compose up ; no -d)
      #   https://github.com/bitnami/bitnami-docker-mysql/issues/79#issuecomment-545477842
      BITNAMI_DEBUG: 'true'

      MARIADB_CHARACTER_SET: 'utf8'
      MARIADB_COLLATE: 'utf8_general_ci'
      
      MARIADB_DATABASE: '{{ database.MARIADB_DATABASE }}'
      # MARIADB_EXTRA_FLAGS=--max-connect-errors=1000 --max_connections=155
      MARIADB_PASSWORD: '{{ database.MARIADB_PASSWORD }}'
      MARIADB_USER: '{{ database.MARIADB_USER }}'

      MARIADB_ROOT_PASSWORD: '{{ database.MARIADB_ROOT_PASSWORD }}'
      # # Path to a file that contains the admin user password. This will override the value specified in MARIADB_ROOT_PASSWORD
      # MARIADB_ROOT_PASSWORD_FILE: 'secret.txt'
      MARIADB_ROOT_USER: '{{ database.MARIADB_ROOT_USER }}'

    healthcheck:
      test: 'stat /opt/bitnami/mariadb/conf/my.cnf || exit 1'
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 0s
    image: '{{ database.image }}'
    labels:
      {{ project.labels_prefix }}.client: '{{ project.client_name }}'
      {{ project.labels_prefix }}.maintainer: '{{ project.maintainer }}'
      {{ project.labels_prefix }}.project: '{{ project.name }} / mariadb'
      {{ project.labels_prefix }}.type: '{{ project.type }}'
    # # Does not support syslog driver
    # #   Use docker logs CONTAINER_NAME or docker service logs SERVICE_NAME (not stack, service) to access outputs
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    # --memory-reservation="128m"
    # --memory="256m"
    # --memory-swap -1
    networks:
      - wordpress
    # --pids-limit 200
    # # Needs write access for /tmp/ files
    # read_only: true
    security_opt:
      - no-new-privileges=true
      - apparmor=docker-default
      - seccomp=/etc/docker/seccomp-profiles/default-docker-profile.json
    # bitnami's needs default root to chown volumes, then switches to 1001. LATER: Custom Dockerfile
    # the_docker_peon unpriviledged namespaced user
    # user: 1003:1003
    volumes:
      - type: volume
        read_only: false
        source: {{ project.type }}---{{ project.dashed_domain }}---wordpress--database
        target: /bitnami/mariadb

  wordpress:
    # cap_drop:
    #   - ALL
    # cpu_shares: 1024
    depends_on:
      - mariadb
    deploy:
      endpoint_mode: vip
      labels:
        # Tell Traefik to get the contents provided by this service using that shared network.
        - "traefik.docker.network=core---traefik-public--access-internet"
        # Allow internet exposition (publish on port 80)
        - "traefik.enable=true"

        ## HTTPS router specifications
        #     https://doc.traefik.io/traefik/https/acme/#configuration-examples > Docker swarm
        # Entrypoint
        - "traefik.http.routers.https_{{ traefik.uid }}__wordpress__Router.entrypoints=websecure"
        # On which url ? Reverse proxy regexp
        - "traefik.http.routers.https_{{ traefik.uid }}__wordpress__Router.rule=Host(`{{ traefik.public_uri }}`)"
        # Use the service created below specifying the internal port
        - "traefik.http.routers.https_{{ traefik.uid }}__wordpress__Router.service=https_{{ traefik.uid }}__wordpress__Service"
        # Enable TLS
        - "traefik.http.routers.https_{{ traefik.uid }}__wordpress__Router.tls=true"

        # Automatic generation on all subdomains, using SANs
        # cf. server-related-tutorials/01-docker/04-my-tests/09-traefik-curated/08-prod-traefik-https-subdomains/hello.yml
        - "traefik.http.routers.https_{{ traefik.uid }}__wordpress__Router.tls.domains[0].main={{ traefik.public_uri }}"
        - "traefik.http.routers.https_{{ traefik.uid }}__wordpress__Router.tls.domains[0].sans=*.{{ traefik.public_uri }}"

        # Automtic certifcate resolver, created in traefik.yml
        - "traefik.http.routers.https_{{ traefik.uid }}__wordpress__Router.tls.certresolver=leresolver"
        
        # Create a service specifying the internal port
        # Internal port > 1024 to prevent usage of root restricted ports
        - "traefik.http.services.https_{{ traefik.uid }}__wordpress__Service.loadbalancer.server.port=8080"

        # Redirect every http requests to their https equivalent, now done in traefik.yml
        #   @see ansible/roles/core-reverse-proxy-traefik--generate/templates/traefik.yml.j2 > "HTTPS Redirection (80 to 443)"
        
        - "{{ project.labels_prefix }}.client='{{ project.client_name }}'"
        - "{{ project.labels_prefix }}.maintainer='{{ project.maintainer }}'"
        - "{{ project.labels_prefix }}.project='{{ project.name }} / wordpress'"
        - "{{ project.labels_prefix }}.type='{{ project.type }}'"
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: '4'
          memory: 1024M
        reservations:
          cpus: '2'
          memory: 256M
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 5
        window: 120s
      rollback_config:
        delay: 0s
        failure_action: pause
        max_failure_ratio: 0
        monitor: 0s
        order: stop-first
        parallelism: 1
      update_config:
        delay: 10s
        failure_action: pause
        max_failure_ratio: 0
        monitor: 0s
        order: stop-first
        parallelism: 1
    environment:
      # Allow more logs about bitnami's containers errors (use w. docker-compose up ; no -d)
      #   https://github.com/bitnami/bitnami-docker-mysql/issues/79#issuecomment-545477842
      BITNAMI_DEBUG: 'true'

      # # mariadb database creation
      MARIADB_ROOT_PASSWORD: '{{ database.MARIADB_ROOT_PASSWORD }}'
      MARIADB_ROOT_USER: '{{ database.MARIADB_ROOT_USER }}'
      MYSQL_CLIENT_CREATE_DATABASE_NAME: '{{ database.MARIADB_DATABASE }}'
      MYSQL_CLIENT_CREATE_DATABASE_PASSWORD: '{{ database.MARIADB_PASSWORD }}'
      MYSQL_CLIENT_CREATE_DATABASE_USER: '{{ database.MARIADB_USER }}'
      WORDPRESS_TABLE_PREFIX: '{{ wordpress.WORDPRESS_TABLE_PREFIX }}'
      
      # # mariadb connection
      ALLOW_EMPTY_PASSWORD: 'no'
      MARIADB_HOST: 'mariadb'
      MARIADB_PORT_NUMBER: '3306'
      WORDPRESS_DATABASE_NAME: '{{ database.MARIADB_DATABASE }}'
      WORDPRESS_DATABASE_PASSWORD: '{{ database.MARIADB_PASSWORD }}'
      WORDPRESS_DATABASE_USER: '{{ database.MARIADB_USER }}'
      WORDPRESS_SKIP_INSTALL: 'no'
      
      # # PHP
      PHP_MEMORY_LIMIT: '256M'

      # # SMTP
      # SMTP_HOST: 'smtp.gmail.com'
      # SMTP_PORT: '587'
      # SMTP_USER=your_email@gmail: 'com'
      # SMTP_PASSWORD: 'your_password'
      # SMTP_PROTOCOL: 'tls'

      # # WordPress user info
      WORDPRESS_BLOG_NAME: "{{ wordpress.WORDPRESS_BLOG_NAME }}"
      WORDPRESS_EMAIL: '{{ wordpress.WORDPRESS_EMAIL }}'
      WORDPRESS_FIRST_NAME: '{{ wordpress.WORDPRESS_FIRST_NAME }}'
      WORDPRESS_LAST_NAME: '{{ wordpress.WORDPRESS_LAST_NAME }}'
      # 50 chars length / NO SPECIAL CHARS, tends to not match when container is up
      WORDPRESS_USERNAME: '{{ wordpress.WORDPRESS_USERNAME }}'
      # 50 chars length / Wordpress recommandations : ! ? % ^ & ) / No no $ ' "
      WORDPRESS_PASSWORD: '{{ wordpress.WORDPRESS_PASSWORD }}'

      # # WordPress config
      WORDPRESS_HTACCESS_OVERRIDE_NONE: 'yes'
      WORDPRESS_HTACCESS_PERSISTENCE_ENABLED: 'no'
      WORDPRESS_RESET_DATA_PERMISSIONS: 'no'
      # Uri default scheme/config
      WORDPRESS_SCHEME: 'https'
      
    healthcheck:
      test: 'stat /bitnami/wordpress/wp-config.php || exit 1'
      interval: 10s
      timeout: 10s
      retries: 3
      # Let some time for database setup
      start_period: 60s
    image: '{{ wordpress.image }}'
    labels:
      {{ project.labels_prefix }}.client: '{{ project.client_name }}'
      {{ project.labels_prefix }}.maintainer: '{{ project.maintainer }}'
      {{ project.labels_prefix }}.project: '{{ project.name }} / wordpress'
      {{ project.labels_prefix }}.type: '{{ project.type }}'
    # # Does not support syslog driver
    # #   Use docker logs CONTAINER_NAME or docker service logs SERVICE_NAME (not stack, service) to access outputs
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    # --memory-reservation="128m"
    # --memory="256m"
    # --memory-swap -1
    networks:
      # Connect to traefik dedicated overlay network, allow reverse proxy
      - core---traefik-public--access-internet
      - wordpress
    # --pids-limit 200
    ports:
      - '8080'
      - '8443'
    # # Needs write access for /tmp/ files
    # read_only: true
    security_opt:
      - no-new-privileges=true
      - apparmor=docker-default
      - seccomp=/etc/docker/seccomp-profiles/default-docker-profile.json
    # bitnami's needs default root to chown volumes, then switches to 1001. LATER: Custom Dockerfile
    # the_docker_peon unpriviledged namespaced user
    # user: 1003:1003
    volumes:
      - type: volume
        read_only: false
        source: {{ project.type }}---{{ project.dashed_domain }}---wordpress--files
        target: /bitnami/wordpress

networks:
  core---traefik-public--access-internet:
    # Connect to an existing network, do not recreate one with a prefix
    external: true
  # Will be prefixed on stack deploy
  wordpress:

volumes:
  {{ project.type }}---{{ project.dashed_domain }}---wordpress--database:
    # Use an existing volume, do not recreate one with a prefix
    external: true
  {{ project.type }}---{{ project.dashed_domain }}---wordpress--files:
    # Use an existing volume, do not recreate one with a prefix
    external: true