# Here's your stuff

---

> 🤖 This file has been generated automatically through Ansible and **should not be edited by hand**.
> See the [original script](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/sftp-create-user/tasks/main.yml)
> & [original template file](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/users/templates/chroot-prison-user-my-stuff-README.md.j2).
> *Generated (yyyy-mm-dd) {{ currentDateTime }}*.

---

This folder is dedicated to access your website files.

If nothing is here, ask me for temp container to access files, I usually remove them after dev for security mesures.

Have a nice day ;)
