# Chroot prison root folder

---

> 🤖 This file has been generated automatically through Ansible and **should not be edited by hand**.
> See the [original script](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/sftp-create-user/tasks/main.yml)
> & [original template file](https://github.com/youpiwaza/ansible-install-web-server/blob/master/ansible/roles/users/templates/chroot-prison-user-README.md.j2).
> *Generated (yyyy-mm-dd) {{ currentDateTime }}*.

---

This folder is dedicated to allow profile to run on the server. Not much to see here.

Feel free to go to "my-stuff" folder.

Have a nice day ;)
